<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{ service_name }}</string>
    <key>ProgramArguments</key>
    <array>
{{ program_arguments }}
    </array>
    <key>WorkingDirectory</key>
    <string>{{ work_dir }}</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>{{ log_dir }}/{{ service_name }}.out</string>
    <key>StandardErrorPath</key>
    <string>{{ log_dir }}/{{ service_name }}.err</string>
</dict>
</plist>
